.buttonArea {
  display: flex;
  background-color: #282c34;
  border: 2px solid rgba(0, 0, 0, 0.849);
  cursor: pointer;
  height: 9vmin;
  width: 20vmin;
  align-items: center;
  justify-content: center;
}
.buttonArea:hover {
  background-color: lime;
}

.disabled {
  background-color: red;
}

.miniButton {
  width: 10vmin;
}

.btn {
  width: 85%;
  height: 80%;
  /* overflow: hidden; */
  border: 2px solid rgba(0, 0, 0, 0.849);
  background-color: grey;
  filter: drop-shadow(4px 4px 4px black);
}

.svg {
  filter: drop-shadow(5px 5px 5px black);
}

.svg:hover {
  fill: lime;
  transform: scale(0.9);
  /* filter: drop-shadow(5px 5px 5px black); */
}

.startButton {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 40px solid green;
  border-right: 40px solid green;
  border-bottom: 15px solid transparent;
}
.shuffleActive {
  background-color: lime;
}
