.buttonArea {
  display: flex;
  background-color: #282c34;
  border: 2px solid rgba(0, 0, 0, 0.849);
  cursor: pointer;
  height: 9vmin;
  width: 20vmin;
  align-items: center;
  justify-content: center;
  /* align-self: flex-end; */
  /* padding: 5%; */
}
.buttonArea:hover {
  background-color: lime;
}

.disabled {
  background-color: red;
}

.miniButton {
  width: 10vmin;
}

.btn {
  display: flex;
  width: 80%;
  padding: 5%;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.849);
  background-color: grey;
}

.shuffleActive {
  background-color: lime;
}
