.gameWindow {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* background-color: rgb(170, 16, 42); */
  background-color: rgba(0, 0, 0, 0.7);
}

.game-header {
  background-color: #282c34;
  border: 2px solid rgba(0, 0, 0, 0.7);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.7));
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4%;
}

.game-footer {
  background-color: #282c34;
  border: 2px solid rgba(0, 0, 0, 0.7);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.7));
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4%;
}
