.gamePreparation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 80%;
}
.playerPreparation {
  height: 15%;
  width: 90%;
  display: inline-grid;
  grid-template-columns: 50% 25% 25%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-items: center;
  /* margin-bottom: 3%; */
  border: 2px solid rgba(0, 0, 0, 0.849);
}

.playerNameInput {
  height: 80%;
  width: 80%;
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  border: 2px solid rgba(0, 0, 0, 0.849);
  align-items: center;
  /* padding-top: 3%; */
  color: black;
}

.name {
  font-size: 16px;
  height: 80%;
}

input {
  width: 90%;
  height: 65%;
  background-color: grey;
  border: 2px solid rgba(0, 0, 0, 0.849);
  color: black;
}

input.textInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.colorSelect {
  justify-content: center;
  width: 80%;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 50% 50%;
}

.teal {
  background-color: teal;
  border: 2px solid rgba(0, 0, 0.849);
  cursor: pointer;
  height: 20px;
  color: rgb(16, 145, 224);
  grid-row: 1;
  grid-column: 1;
}
.purple {
  background-color: purple;
  border: 2px solid rgba(0, 0, 0.849);
  cursor: pointer;
  height: 20px;
  color: purple;
  grid-row: 1;
  grid-column: 2;
}
.darkred {
  background-color: darkred;
  border: 2px solid rgba(0, 0, 0.849);
  cursor: pointer;
  height: 20px;
  color: rgb(189, 57, 33);
  grid-row: 1;
  grid-column: 3;
}
.Crimson {
  background-color: Crimson;
  border: 2px solid rgba(0, 0, 0.849);
  cursor: pointer;
  height: 20px;
  color: rgb(228, 47, 137);
  grid-row: 2;
  grid-column: 1;
}
.yellow {
  background-color: rgb(226, 226, 39);
  border: 2px solid rgba(0, 0, 0.849);
  cursor: pointer;
  height: 20px;
  color: rgb(226, 226, 39);
  grid-row: 2;
  grid-column: 2;
}
.limegreen {
  background-color: limegreen;
  border: 2px solid rgba(0, 0, 0.849);
  cursor: pointer;
  height: 20px;
  color: rgb(31, 113, 31);
  grid-row: 2;
  grid-column: 3;
}

.teal.selected {
  border: 2px solid lime;
}

.purple.selected {
  border: 2px solid lime;
}
.darkred.selected {
  border: 2px solid lime;
}
.Crimson.selected {
  border: 2px solid lime;
}
.yellow.selected {
  border: 2px solid lime;
}
.limegreen.selected {
  border: 2px solid lime;
}

.AddPlayerBtn {
  /* widows: 100%; */
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players {
  width: 90%;
  /* margin-top: 5%; */
  background-color: rgba(0, 0, 0, 0.7);
  height: 40%;
  /* margin-bottom: 3%; */
  border: 2px solid rgba(0, 0, 0, 0.849);
}
/* .playerTitle {
} */

.playerList {
  width: 100%;
  height: calc(100% - (150px + 5%));
  display: flex;
  justify-content: center;
  padding: 2%;
  align-items: center;
  flex-flow: row wrap;
}

.player {
  width: 40%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  margin: 1%;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.849);
  font-weight: bold;
  font-size: 25px;
}

.startBtn {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
