.gamePreparation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 80%;
}
.playerPreparation {
  height: 15%;
  width: 90%;
  display: inline-grid;
  grid-template-columns: 50% 25% 25%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-items: center;
  border: 2px solid rgba(0, 0, 0, 0.849);
}

.playerNameInput {
  height: 80%;
  width: 90%;
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  border: 2px solid rgba(0, 0, 0, 0.849);
  align-items: center;
  color: black;
}

.name {
  font-size: 16px;
  height: 80%;
}

input {
  width: 90%;
  height: 65%;
  background-color: grey;
  border: 2px solid rgba(0, 0, 0, 0.849);
  color: black;
}

.noName {
  border: 2px solid crimson;
}

input.textInput::placeholder {
  color: black;
  opacity: 1;
}

.colorSelect {
  padding: 5px;
  justify-content: center;
  width: 90%;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 50% 50%;
}

.nonSelected {
  border: 2px solid crimson;
}

.color {
  border: 2px solid rgba(0, 0, 0.849);
  cursor: pointer;
  height: 20px;
}

.teal {
  background-color: teal;
  color: rgb(16, 145, 224);
  grid-row: 1;
  grid-column: 1;
}
.DarkMagenta {
  background-color: DarkMagenta;
  color: DarkMagenta;
  grid-row: 1;
  grid-column: 2;
}
.firebrick {
  background-color: firebrick;
  color: firebrick;
  grid-row: 1;
  grid-column: 3;
}
.palevioletred {
  background-color: palevioletred;
  color: palevioletred;
  grid-row: 2;
  grid-column: 1;
}
.orange {
  /* background-color: rgb(226, 226, 39); */
  /* color: rgb(226, 226, 39); */
  background-color: orange;
  color: orange;
  grid-row: 2;
  grid-column: 2;
}
.seagreen {
  background-color: seagreen;
  color: seagreen;
  grid-row: 2;
  grid-column: 3;
}

.color.selected {
  border: 2px solid lime;
}

.picked {
  background-color: black;
  /* border: 0.5px solid red; */
}
.AddPlayerBtn {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 40%;
  border: 2px solid rgba(0, 0, 0, 0.849);
}

.playerList {
  width: 100%;
  height: calc(100% - (150px + 5%));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.player {
  width: 40%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  margin: 2%;
  border: 2px solid rgba(0, 0, 0, 0.849);
  font-weight: bold;
  font-size: 25px;
}

.startBtn {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
