.scoreBoard {
  width: 160px;
  display: grid;
  align-items: center;
  justify-content: center;
  background: #282c34;
  border: 2px solid rgba(0, 0, 0, 0.7);

  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.7));
  grid-row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.playerInfo {
  width: 145px;
  background: #282c34;
  padding: 5%;
  border: 2px solid rgba(0, 0, 0, 0.849);
}
.active {
  background-color: lime;
  font-weight: bold;
}

.playerName {
  text-align: center;
  letter-spacing: 1px;
  background-color: grey;
}

.playerPoints {
  text-align: center;
  letter-spacing: 1px;
  background-color: grey;
}
